.internet-cancer-replacement {
    background-color: rgba(127, 127, 127, 0.2);
    border-radius: 40%;
}

.internet-cancer-replacement .replaced-text {
    display: none;
}

.internet-cancer-replacement:hover .replacement-text {
    display: none;
}

.internet-cancer-replacement:hover .replaced-text {
    display: inline;
}
